<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id="it.SimpleHome" version="1.0.3" android-versionCode="1" >
    
    <name>SimpleHome</name>
    <description>
        SimpleHome description
    </description>
    <author email="a.canestrelli@gmail.com" href="https://plus.google.com/+AlessioCanestrelli">
        Alessio Canestrelli
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="Orientation" value="portrait" />
    <preference name="LoadingDialog" value="SimpleHome, Avvio applicazione..."/>
    <preference name="ShowTitle" value="false"/>
    <preference name="LogLevel" value="ERROR"/>
    <preference name="KeepRunning" value="false"/>
	
    <platform name="android">
        <icon src="icons/android/icon-36-ldpi.png" width="36" height="36" />
        <icon src="icons/android/icon-48-mdpi.png" width="48" height="48" />
        <icon src="icons/android/icon-72-hdpi.png" width="72" height="72" />
        <icon src="icons/android/icon-96-xhdpi.png" width="96" height="96" />
    </platform>
</widget>
