<?xml version='1.0' encoding='utf-8'?>
<widget id="it.SimpleHome" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SimpleHome</name>
    <description>
        SimpleHome description
    </description>
    <author email="a.canestrelli@gmail.com" href="https://plus.google.com/+AlessioCanestrelli">
        Alessio Canestrelli
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<icon src="icons/android/icon-36-ldpi.png" width="36" height="36" />
	<icon src="icons/android/icon-48-mdpi.png" width="48" height="48" />
	<icon src="icons/android/icon-72-hdpi.png" width="72" height="72" />
	<icon src="icons/android/icon-96-xhdpi.png" width="96" height="96" />
</widget>
