<div ng-show="{{ statoConfig > 0 }}" >
  <div class="form-group">
    <label for="profilo">Profilo</label>
    <select id="profilo" class="form-control" ng-model="profilo" convert-to-number ng-change="change()" >
      <option ng-repeat="it in cfg" ng-selected="{{$index == profilo}}" value="{{$index}}">{{it.alias}}</option>
    </select>
  </div>
  <hr />
</div>

<a ng-show="{{ statoConfig == 2 }}" class="btn btn-material-green-600 btn-raised btn-block" href="#luci"><i class="fa fa-lightbulb-o"></i> Luci</a></li>
<a ng-show="{{ statoConfig == 2 }}" class="btn btn-material-green-600 btn-raised btn-block" href="#temperature"><i class="fa fa-sun-o"></i> Temperature</a></li>
<a ng-show="{{ statoConfig == 2 }}" class="btn btn-material-green-600 btn-raised btn-block" href="#allarme"><i class="fa fa-shield"></i> allarme</a></li>
<a class="btn btn-material-green-600 btn-raised btn-block" href="#settings"><i class="fa fa-cog"></i> Impostazioni</a></li>
