body {
	margin-top: 60px;
}

.page-header {
	margin: 10px;
	padding: 0;
}

h1, h2 {
	color: #43a047;
	margin-top: 10px;
  margin-bottom: 10px;
}

hr {
	background-color: #43a047;
	border-width: 0;
}

p {
	color: #43a047;
	font-weight: bold;
	font-size: 15px;
}

strong {
	color: #43a047;
	font-weight: bold;
	font-size: 25px;
}

.my-jumbotron {
	margin: 0 5px 0 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #FFFFFF;
}

#refresh {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
	color: #FFF;
	padding: 11px 20px;
}

#temperaturaSet {
	margin-top: 10px;
}

label.togglelabel {
	float: right;
}

.list-group .list-group-separator:before {
		width: 100%;
}
