body {
	margin-top: 7.6rem;
}

.toolbar {
	position: fixed;
	z-index: 1030;
	top: 0;
	left: 0;
	height: 6.2rem;
	width: 100%;
	display: flex;
	color: #EEEEEE;
}

.toolbar a,
.toolbar a:active,
.toolbar a:link,
.toolbar a:hover,
.toolbar a:visited {
	color: #EEEEEE !important;
	text-decoration: none;
}

.toolbar .toolbar-icon, .toolbar .toolbar-icon i {
	display: block;
	height: 6.2rem;
	width: 5.6rem;
	line-height: 6.2rem;
	font-size: 2.5rem;
	font-weight: normal;
	text-align: center;
}

.toolbar .toolbar-label {
	flex: 1;
	display: block;
	height: 6.2rem;
	line-height: 6.2rem;
	font-size: 2.5rem;
}

.toolbar .toolbar-label:first-child {
	flex: 1;
	display: block;
	height: 5.6rem;
	line-height: 5.6rem;
	font-size: 2rem;
	margin-left: 0.8rem;
}
