<md-content>
    <form style="padding: 20px;">
      http://edo.cloudns.pro/<br />
      http://192.168.0.252/
      <md-text-float label="Host" ng-model="cfg.host" disabled> </md-text-float>
      <div class="row">
          <md-text-float label="Username" ng-model="cfg.username"> </md-text-float>
          <md-text-float label="password" ng-model="cfg.password"> </md-text-float>
      </div>
      <div flex flex-order="0"  >
        <md-button class="md-raised" ng-click="updateConfig()">
          salva
        </md-button>
      </div>
    </form>
  </md-content>
